{% extends "layout.html" %}
{% block body %}
{% if entry %}
<div class=entries>
         <h2>{{ entry.title }}</h2>
     <div> {{ entry.text|safe }} </div>
        
        {% if session['logged_in'] == True %}
        <p class="delete"><a href="{{ url_for('del_entry', entry_id=entry.id) }}" class="delete" onclick="return confirm('¿Está seguro?');">Delete post</a>
        {% endif %}
        <h2>¡Comenta!</h2>
         
      <form action="{{ url_for('add_comment', entry_id=entry.id) }}" method=post class=add-entry>
      <dl>
        <dt>Nombre:
        <dd><input type=text size=30 name=name>
        <dt>Texto:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
      </form>
</div>         
{% if comments %}
<div class="comments">
    {% for comment in comments %}
    <h3>{{comment.name}}</h3>
    
    <p>{{comment.text|safe}}</p>
    {% endfor %}
</div>
{% else %}
<div class="comments">
<p>No hay comentarios hasta el momento. ¡Comenta!</p>
</div>
{% endif %}

     {% else %}
 <div class=entries>
         <p>¡Increíble! No puedo encontrar ese post en mi base de datos</p>
  </div>
    {% endif %}
{% endblock %}